{% extends 'main.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block content %}
<h1>Product List</h1>

{#Show the 'Add New Product' button only if the user is authenticated#}
{% if user.is_authenticated %}
    <a href="{% url 'product_create' %}" class="btn btn-primary mb-3">Add New Product</a>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <a href="{% url 'product_detail' product.pk %}" class="btn btn-info btn-sm">View</a>

                <!-- Show 'Edit' and 'Delete' buttons only if the user is authenticated -->
                {% if user.is_authenticated %}
                    <a href="{% url 'product_update' product.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
